.oeuvre-section {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(50px);
  opacity: 60%;
}

.container {
  position: relative;
  z-index: 1;
  border-radius: 12px;
  width: 100%;
  height: 92%;
  max-width: calc(100% - 40px); /* margin 20px de chaque côté */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border: 1px solid #ffffff15;
  overflow: hidden;
}

.card {
  grid-column: 1 / 5;
  width: 100%;
  height: 100%; /* Prend toute la hauteur */
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; /* Remplit en hauteur ET largeur */
  object-position: center;
}

